# Ignore node_modules and logs
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.*

# Ignore TypeScript source files and configs not needed in production
src
tsconfig.json
tsconfig.build.json

